@import './theme.scss';
#app {
  // min-width: 1200px;
}
.common-container {
  min-height: 100%;
}
/* dark */
.dark-bcg {
  background-color: $dark-color;
}
.dark-color {
  color: $light-color;
}
/* dark important */
.dark-bcg-imp {
  background-color: $dark-color !important;
}
.dark-color-imp {
  color: $light-color !important;
}
/* light */
.light-bcg {
  background-color: #fff;
}
.light-color {
  color: $dark-color;
}
/* light important */
.light-bcg-imp {
  background-color: #fff !important;
}
.light-color-imp {
  color: $dark-color !important;
}