$dark-color          : #001529;
$light-color         : #fff;
$primary-color       : #1890ff;
$feedback-color      : $primary-color;
$success-color       : #19be6b;
$warning-color       : #ff9900;
$error-color         : #ed4014;
